

@media screen and (max-width: 798px){
  nav  {
    padding: 13px;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    font-size: 20px;
     }
  
  
}
@media screen and (min-width: 798px){
  nav  {
    padding: 13px;
    width: 100%;
  }
  nav ul {
    flex-direction: row;
    font-size: 20px;
     }
  
  
}


@media screen and (max-width:767px){
  .afthernav{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
   
  }
}

  @media screen and (max-width:984px){
    .gallery{
     width: 100%;
    }
    .iphone14text{
      width: 100%;
    }
    .image1{
      width: 100%;

    }


    .image1 img{
      width: 100%
    };
    
  }



  @media screen and (max-width:974px)
  {
    .gallery1{
      width: 100%;
    }


    .iphone14text1{
      width: 100%;
    }


    .image2{
      width: 100%;
    }

    .image2 img{
      width: 100%;
    }
  }

 




  @media screen and (max-width:1132px){
    .iphonese{
      width: 100%;
      margin: 0;
    }
    .setext{
      width: 100%;
    }

    .imgse{
      background-size: 396px 823px;
      padding-left: 350px;
    background-position: center;
    }
    }
    
  
    @media screen and (max-width:640px){

      .iphonese{
        width: 100%;
        margin: 0;
      }
      .setext{
        width: 100%;
      }

      .imgse{
        background-size: 308px 823px;
      }  
    }
     
  
    @media screen and (max-width:560px){

      .iphonese{
        width: 100%;
        flex-direction: column;
        margin: 0;
      }
      .setext{
        width: 100%;
      }

      .imgse{
        width: 100%;
        background-size: 444px 419px;
        background-position: center;
      }  
    }
     
    @media screen and (max-width:430px){
   .iphonese{
    width: 100%;
padding-right: 124px;  
margin: 0;
 }
   
   .setext{
    width: 100%;
  }

  .imgse{
    width: 100%;
    background-size: 334px 399px;
    background-position: center;
  }  

    }

    @media screen and (max-width:380px){
      .iphonese{
        width: 100%;
        margin: 0;
      }
      .setext{
        width: 100%;
      }






      .imgse{
        width: 100%;
        background-size: 296px 226px;
        background-position: center;
      }  
    
    }


    @media screen and (max-width:1413px){
      .container{
        width: 100%;

      }

      .containerimage{
        width: 100%;
        background-size: 1173px 814px;
      }
    }

    @media screen and (max-width:1175px){
      .container{
        width: 100%;
      }

      .guidtext{
        padding-left: 66px;
        width: 100%;
      }
    }

    @media screen and (max-width:956px){
      .container{
        width: 100%;
      }

      .guidtext{
        padding-left: 282px;
        width: 100%;
      }

      .containerimage{
        width: 100%;
        background-size: 941px 814px;
      }
    }


          
    @media screen and (max-width:727px){
      .container{
        width: 100%;

      }


      .guidtext{
        padding-left: 182px;
         width: 100%;
      }


      .containerimage{
        width: 100%;
        background-size: 729px 814px;
      }
    }

    @media screen and (max-width:951px){
      .container{
        width: 100%;

     
      }
      
      .guidtext{
        width: 100%;
      }
      .containerimage{
        width: 100%;
        background-size: 682px 814px;
      }
    }


    @media screen and (max-width:625px){
      .container{
        width: 100%;

      }
      .guidtext{
        width: 100%;
        padding-left: 94px;
        padding-top: 184px;
      }

     .guidtext h4{
      font-size: 20px;
     }

     .guidtext h1{

     }



      .containerimage{
        width: 100%;
        background-size: 481px 684px;
      }

    }


    @media screen and (max-width:862px){
      .compair-table{
        flex-direction: column;
      }
    }



    @media screen and (max-width:645px){
      .waystosaveaphone{
        width: 100%;
      }


      .waystosaveaphone h2{
        font-size: 30px;
        flex-direction: column;
      }
    }

    @media screen and (max-width:1303px){
      .containerbig{
        width: 100%;
        margin: 0;

      }

      #container1{
        flex-direction: column;
      }
      .trade1{
        margin: 0;
      }

      .trade2{
        margin: 0;
      }
    }



    @media screen and (max-width:1281px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }


      .whyimg{
        width: 100%;
        background-size: 1027px 560px;
        margin: 0;
      }
    }

    @media screen and (max-width:1031px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }


      .whyimg{
        width: 100%;
        background-size: 883px 560px;
        margin:0;
      }
    }


    @media screen and (max-width:881px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }


      .whyimg{
        width: 100%;
        background-size: 686px 560px;
        margin: 0;
      }
    }


    @media screen and (max-width:689px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }

     



      .whyimg{
        width: 100%;
        background-size: 686px 560px;
        margin: 0;
      }

     .whyimg h1 {
      font-size: 30px;
     }
     
     .whyimg p{
      font-size: 20px;
     }


    }



    @media screen and (max-width:631px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }

      .whyimg h1 {
        font-size: 25px;
       }
       
       .whyimg p{
        font-size: 15px;
       }

     .whyimg{
      width: 100%;
      background-size: 518px 560px;
      margin: 0;
     }


    }




    @media screen and (max-width:513px){
      .whyapple{
        width: 100%;
      }

      .textapple{
        width: 100%;
      }

      .whyimg h1 {
        font-size: 20px;
       }
       
       .whyimg p{
        font-size: 13px;
       }

     .whyimg{
      width: 100%;
      background-size: 482px 421px;
      margin: 0;
     }

    }





    @media screen and (max-width:375px){

      .whyapple{
        width: 100%;

      }
      .textapple{
        width: 100%;
      }

      .whyimg h1 {
        font-size: 10px;
       }
       
       .whyimg p{
        font-size: 8px;
       }


      .whyimg{
        width: 100%;
        background-size: 368px 421px;
        margin: 0;
      }
    }


    @media screen and (max-width:1193px){
      .container1{
        width: 100%;
        flex-direction: column;
        margin: 0;
      }

      .magsafe{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
      }

      .magsafeimg{
        width: 100%;
        background-size: 367px 463px;
      }

     }

    
  @media screen and (max-width:381px){
    .container1{
      width: 100%;
      flex-direction: column;
      margin: 0;
    }
    .magsafe{
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
    }

  }



  @media screen and (max-width:727px){
    .magsafeimg1{
      background-size: 427px 463px;
      width: 100%;
    }
    .magsafe1{
      width: 100%;
    }
  }



  @media screen and (max-width:426px){
    .magsafeimg1{
      width: 100%;
      background-size: 345px 463px;
    }
     

    .magsafe1{
      width: 100%;
      padding-right: 10px;
    }
    
    .magsafe1 h1{
      padding-right: 289px;
    }
    
    .magsafe1 p {
      padding-right: 380px;
    }
    .magsafe1 .more {
      padding-right: 300px;
    }
  }


  @media screen and (max-width:1080px){
    .container3{
      width: 100%;
    }
    .containerimg{
      width: 100%;
    background-size: 705px 498px
    }
  }


  @media screen and (max-width:724px){
    .container3{
      width: 100%;
      
    }
    .containerimg p{
      font-size: 12px;
    }
   .containerimg{
    background-size: 608px 498px;
    width: 100%;
   }

  }

  @media screen and (max-width:625px){
    .container3{
      width: 100%;
    }


    .containerimg{
      background-size: 540px 498px;
      width: 100%;
     }
  }
  
  @media screen and (max-width:560px){
    .container3{
      width: 100%;
    }

   


    .containerimg{
      background-size: 445px 398px;
      width: 100%;
     }



     .containerimg h1 {
      font-size: 20px;
     }


     .containerimg p {
      font-size: 10px;
     }
  }


  @media screen and (max-width:464px){
  .container3{
      width: 100%;
    }
    .containerimg h1 {
      padding-right: 38px;
      font-size: 15px;
     }


     .containerimg p {
      font-size: 10px;
      padding-right: 41px;
     }

     .containerimg a{
      padding-right: 49px;
     }

    .containerimg{
      background-size: 337px 320px;
      width: 100%;
    }
  }

  
  @media screen and (max-width:1185px){
    .containerbigtxt{
      width: 100%;
      margin: 0;
    }

    #container1txt{
      width: 100%;
  
    }
  }

  @media screen and (max-width:1162px){
    .container3{
      width: 100%;
    }


    .containerimg1{
      width: 100%;
      background-size: 984px 560px;
    
    }
  }
    
  
  @media screen and (max-width:826px){
    .container3{
      width: 100%;
   

    }
    .containerimg1{
      width: 100%;
      background-size: 692px 560px;
      
    }
  }
  
  @media screen and (max-width:578px){
    .container3{
      width: 100%;


    }

  }



  @media screen and (max-width:767px){
    .twoimg{
      flex-direction: column;
      width: 100%;
    }
  }


  @media screen and (max-width:568px){
    .twoimg{
      width: 100%;
    }

    .containerimg2{
      width: 100%;
      background-size: 557px 357px;
    }


    .containerimg3{
      width: 100%;
      background-size: 566px 600px;
    }
  }


  @media screen and (max-width:375px){
    .twoimg{
      width: 100%;
      margin: 0;
    }
    .containerimg2{
      width: 100%;
      background-size: 378px 357px;
    }


    .containerimg3{
      width: 100%;
      background-size: 388px 600px;
    }


  }


@media screen and (max-width:912px){
  .container4{
    width: 100%;
    flex-direction: column;

  }
  .containerimg4{
    width: 100%;
  }
}

@media screen and (max-width:550px){
  .container4{
    width: 100%;
    flex-direction: column;
  }
  .containerimg4{
    width: 100%;
    background-size: 447px 329px;
    height: 368px;
  }
}


@media screen and (max-width:444px){
  .container4{
    width: 100%;
    flex-direction: column;
  }

 .containerimg4{
  width: 100%;
  background-size: 346px 329px;
 }


}


@media screen and (max-width:1238px){
  .container5 {
    width: 100%;
    flex-direction: column;
  }
  .twoimg3{
    width: 100%;
    flex-direction: column;
  }
}


@media screen and (max-width:550px){
  .container5 {
    width: 100%;
    flex-direction: column;
  }
  .twoimg3{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .containerimg5{
    width: 100%;
    background-size: 378px 357px;
    margin: 0;


  }

  .containerimg6{
    width: 100%;
    display: none;
  }


}


@media screen and (max-width:1316px){
  .containertwo{
    width: 100%;
    flex-direction: column;
  }
  .twoimg4{
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}


@media screen and (max-width:720px){
  .containertwo{
    width: 100%;
    flex-direction: column;
  }


  .twoimg4{
    width: 100%;
    flex-direction: column;
  }


  .containerimg7{
    background-size: 518px 299px;
    margin: 0;
  }
  .containerimg8{
    width: 100%;
    background-size: 535px 319px;
  }
}


@media screen and (max-width:576px){
  .containertwo{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .twoimg4{
    width: 100%;
    flex-direction: column;
  }

  .containerimg7{
    background-size: 412px 299px;
    width: 100%;
  }
  .containerimg8{
    background-size: 436px 319px;
    width: 100%;
  }
}



@media screen and (max-width:1438px){

  .lastcont{
    width: 100%;

  }
  .containerlast{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .magsafeimglast{
    width: 100%;
  }
}




@media screen and (max-width:442px){
  .lastcont{
    width: 100%;

  }
  .containerlast{
    width: 100%;
    flex-direction: column;
  }

  .magsafelast h1{
    width: 100%;
    font-size: 30px;
    padding-left: 133px;
  }
  .magsafelast p{
    width: 100%;
    padding-left: 161px;
  }
  .magsafelast a{
    padding-left: 160px;
  }
  .magsafeimglast{
    width: 100%;
    background-size: 407px 290px;
  }
}



@media screen and (max-width:1131px){
  .footer{
    width: 100%;
  }


  .footertext {
    width: 100%;
    margin: 0;
  }



.footertext1{
  width: 100%;
  margin: 0;
}


.footertext1{
  width: 100%;
  margin: 0;
}
}


@media screen and (max-width:762px){
  .footertext1{
    width: 100%;
    flex-direction: column;
  }
  .lastfooter{
    width: 100%;
    flex-direction: column;
  }

  .lastfooter1{
    width: 100%;
    flex-direction: column;
  }

  .lastfooter2{
    width: 100%;
    flex-direction: column;
  }
  .lastp{
    width: 100%;
    
  }
  .lastp ul{
    font-size: 10px;
    flex-direction: column;
  }
}